:root {
  --Dark-Blue-intro-email-sign-up-background: hsl(217, 28%, 15%);
  --Dark-Blue-main-background: hsl(218, 28%, 13%);
  --Dark-Blue-footer-background: hsl(216, 53%, 9%);
  --Dark-Blue-testimonials-background: hsl(219, 30%, 18%);
  --Cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --Light-Red-error: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: var(--White);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--Dark-Blue-intro-email-sign-up-background);
  padding-bottom: 40px;
}
header img {
  padding-left: 40px;
  padding-top: 80px;
}
header nav {
  padding-top: 80px;
  padding-right: 40px;
}
header nav a {
  text-decoration: none;
  color: white;
  padding-right: 40px;
  font-weight: 400;
}

section {
  background-color: var(--Dark-Blue-intro-email-sign-up-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}
section .intro {
  width: 40%;
}
section .background {
  width: 100%;
  position: absolute;
  top: 670px;
  z-index: 0;
}
section h1 {
  font-family: "Raleway" sans-serif;
  font-size: 30px;
  font-weight: 700;
  width: 800px;
  text-align: center;
  margin: 40px 0;
  z-index: 2;
  line-height: 150%;
}
section p {
  width: 440px;
  text-align: center;
  line-height: 150%;
  margin-bottom: 40px;
  z-index: 2;
}
section button {
  font-family: "Raleway" sans-serif;
  color: var(--White);
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: none;
  border-radius: 30px;
  padding: 15px 75px;
  z-index: 2;
}

main {
  background-color: var(--Dark-Blue-main-background);
}
main .arguments {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 375px 375px;
  grid-template-rows: 250px 250px;
  justify-content: center;
  text-align: center;
  column-gap: 200px;
}
main .arguments img {
  padding-bottom: 25px;
}
main .arguments h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
}
main .arguments p {
  line-height: 150%;
}
main .productive {
  display: grid;
  grid-template-columns: 780px 500px;
  justify-content: center;
  column-gap: 20px;
}
main .productive img {
  padding: 100px;
}
main .productive h2 {
  padding-top: 200px;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  width: 340px;
  line-height: 125%;
  padding-bottom: 20px;
}
main .productive p {
  line-height: 150%;
  padding-bottom: 20px;
}
main .productive .link-arrow {
  padding-top: 10px;
}
main .productive .link-arrow img {
  padding: 0 0 0 5px;
}
main .productive a {
  color: var(--Cyan-inside-call-to-action-gradient);
  text-underline-offset: 9px;
}

.background-quotes {
  position: absolute;
  top: 2290px;
  left: 100px;
  z-index: 0;
}

.testimonials {
  z-index: 2;
  position: relative;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 310px;
  justify-content: center;
  column-gap: 50px;
  padding-bottom: 250px;
}
.testimonials .clients-1, .testimonials .clients-2, .testimonials .clients-3 {
  background-color: var(--Dark-Blue-testimonials-background);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 100px;
}
.testimonials .clients-1 img, .testimonials .clients-2 img, .testimonials .clients-3 img {
  width: 70%;
  border-radius: 50%;
}
.testimonials .clients-1 p, .testimonials .clients-2 p, .testimonials .clients-3 p {
  line-height: 150%;
  font-family: "Raleway" sans-serif;
  font-weight: 400;
  padding-bottom: 25px;
}
.testimonials .clients-1 .clients, .testimonials .clients-2 .clients, .testimonials .clients-3 .clients {
  display: grid;
  grid-template-columns: 50px 150px;
}
.testimonials .clients-1 .clients h4, .testimonials .clients-2 .clients h4, .testimonials .clients-3 .clients h4 {
  font-weight: 700;
  padding-bottom: 8px;
}
.testimonials .clients-1 .clients h5, .testimonials .clients-2 .clients h5, .testimonials .clients-3 .clients h5 {
  font-size: 12px;
}

.newsletter {
  background-color: var(--Dark-Blue-intro-email-sign-up-background);
  top: 2700px;
  margin-left: 350px;
  width: 800px;
  position: absolute;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 25px 0px hsl(216, 56%, 5%);
  box-shadow: 0px 8px 25px 0px hsl(216, 56%, 5%);
}
.newsletter button {
  font-family: "Raleway" sans-serif;
  color: var(--White);
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: none;
  border-radius: 30px;
  padding: 15px 25px;
  z-index: 2;
}
.newsletter h2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
  padding-bottom: 20px;
}
.newsletter p {
  line-height: 150%;
  padding-bottom: 20px;
  padding: 0 60px;
  margin-bottom: 40px;
}
.newsletter input {
  margin-right: 30px;
  width: 500px;
  border-radius: 50px;
  padding: 15px 15px;
  border: none;
  background-color: var(--White);
}

footer {
  padding: 180px 80px;
  background-color: var(--Dark-Blue-footer-background);
  display: grid;
  grid-template-columns: 300px 200px 200px 200px 200px;
  column-gap: 50px;
  justify-content: space-evenly;
}
footer .column-1 p {
  padding-top: 30px;
  line-height: 150%;
}
footer .column-2 {
  padding-top: 80px;
}
footer .column-3, footer .column-4 {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
footer a {
  color: var(--White);
  text-decoration: none;
  padding-bottom: 15px;
}
footer img {
  padding-right: 15px;
}
footer .column-5 {
  display: flex;
  padding-top: 80px;
}
footer .column-5 svg {
  width: 15%;
  margin-right: 15px;
  border: 2px solid var(--White);
  border-radius: 50%;
  height: 23%;
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
